<mat-card class="event-card">
  <img (click)="viewEventDetails()" mat-card-image [src]="eventDetails.banner_image" />

  <mat-card-title>

    <div fxLayout="row">
      <div fxFlex="90" (click)="viewEventDetails()">
        {{ eventDetails.title }}
      </div>
      <span fxFlex="10" (click)="cardVisible=!cardVisible">
        <mat-icon role="img" *ngIf="!cardVisible">
          keyboard_arrow_up</mat-icon>
        <mat-icon role="img" *ngIf="cardVisible">
          keyboard_arrow_down</mat-icon>
      </span>
    </div>
  </mat-card-title>

  <mat-card-subtitle>{{ eventDetails.status }}</mat-card-subtitle>

  <mat-card-content *ngIf="cardVisible">
    {{ eventDetails.description }}
    <br>
    <br>

  </mat-card-content>

  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="4%">
      <mat-form-field fxFlex="48%" appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput value="{{eventDetails.start_date_time | date}}">
      </mat-form-field>

      <mat-form-field fxFlex="48%" appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput value="{{eventDetails.end_date_time | date}}">
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>