.event-details {
  margin-top: 3%;
  margin-right: 1%;
  margin-left: 6%;
}

.checkout {
  margin-top: 3%;
  margin-right: 6%;
  margin-left: 1%;
}

mat-toolbar {
  background-color: transparent;
  color: black
}