<mat-card>
    <mat-list>
        <div *ngFor="let session of eventSessions">
            <mat-list-item>
                <h2>
                    {{ session.title }}
                </h2>
            </mat-list-item>

            <mat-list-item>
                <p>
                    {{ session.description }}
                </p>
            </mat-list-item>
            <mat-list-item *ngIf="session.sale">
                <p>
                    Sale ends in {{ daysFromTodayCalculator(session.sale_end_date_time) }}
                </p>
            </mat-list-item>

            <mat-list-item>
                <div fxLayout="row" fxLayoutGap="10px">
                    <div>
                        ${{ session.price }}
                    </div>

                    <div class="test">
                        <mat-select (selectionChange)="addToCart(session.event_session_id, $event.value)"
                            id="session_quantity_{{session.event_session_id}}">
                            <mat-option *ngFor="let n of numSequence(11);let i = index;" [value]="i"> {{ i }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>


            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</mat-card>