<mat-card>
    <h2>
        Order Summary
    </h2>

    <mat-list>
        <div *ngFor="let cartItem of cartContentList">
            <mat-list-item>
                <div *ngIf="editMode==true">
                    <mat-icon (click)="deleteItem(cartItem.cart_item_id)" color="red">delete</mat-icon>
                </div>
                {{ cartItem.quantity }}x {{ cartItem.title }} ${{ cartItem.price }}
            </mat-list-item>
        </div>
        <div>
            <button mat-button (click)="editMode=!editMode">Edit</button>
        </div>
    </mat-list>

    <mat-divider></mat-divider>
    <h2>
        Subtotal
    </h2>
    <mat-list>
        <mat-list-item>
            Subtotal: ${{ subtotal }}
        </mat-list-item>
        <mat-list-item>
            Tax: ${{ subtotal * .055 }}
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
    <h2>
        Total
    </h2>
    <mat-list>
        <mat-list-item>
            Total: ${{ subtotal * 1.055 }}
        </mat-list-item>
        <mat-list-item>
            <p (click)="promoCode=true;"> Have a promo code?</p>
        </mat-list-item>

        <div *ngIf="promoCode">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter your promo code">
            </mat-form-field>
        </div>
    </mat-list>
</mat-card>
<!-- <mat-list>
    <div *ngFor="let session of eventSessions">
        <mat-list-item>
            <h2>
                {{ session.title }}
            </h2>
        </mat-list-item>

        <mat-list-item>
            <p>
                {{ session.description }}
            </p>
        </mat-list-item>
        <mat-list-item *ngIf="session.sale != ''">
            <p>
                Sale ends in {{ daysFromTodayCalculator(session.sale_end_date_time) }}
            </p>
        </mat-list-item>
        <mat-list-item>
            <h4>
                ${{ session.price }}
            </h4>

            <mat-select [(value)]="selectedQuantity">
                <mat-option *ngFor="let n of numSequence(11);let i = index;" [value]="i"> {{ i }} </mat-option>
            </mat-select>
        </mat-list-item>
        <mat-divider></mat-divider>
    </div>
</mat-list> -->