h2 {
    color: black;
}

.mat-divider {
    border-top-color: lightgray;
}

p {
    color: blue;
}

.mat-form-field {
    color: black;
}

.trash {
    color:red;
    text-align: left;
    /* font-size: 5px; */
}

.left {
    text-align: right;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.one {
    flex-basis: 80%;
}

.two {
    flex-basis: 20%;
    text-align: right;
}

.matitem.mat-list-item {
    height: auto;
}