<mat-toolbar>
    <div (click)="goBack()" fxLayout="row">
        <mat-icon>arrow_back</mat-icon>
        <mat-card-title>
            Back
        </mat-card-title>
    </div>
</mat-toolbar>

<div class="content" fxLayout="row">
    <div fxFlex="75" class="event-details">
        <mat-horizontal-stepper #stepper>
            <mat-step label="Tickets">
                <div>
                    <mat-card>
                        <div fxLayout="row">
                            <mat-icon>av_timer</mat-icon>
                            <mat-card-title>
                                Tickets
                            </mat-card-title>
                        </div>

                        <div class="checkout-container">
                            <div class="left-side">
                                In a hurry? Fill out this form later via link in your email.
                            </div>
                            <div (click)="goToLastStep()" class="right-side skip-step">
                                Skip this step
                            </div>
                        </div>
                    </mat-card>
                    <form *ngIf="ticketForm" [formGroup]="ticketForm">
                        <mat-card class="ticket-essions" formArrayName="tickets"
                            *ngFor="let ticket of ticketForm.get('tickets')['controls']; let i = index;s">
                            <mat-card-title>
                                <div fxLayout="row">
                                    <div fxFlex=95>
                                        Attendee {{ i + 1 }} - {{ ticket.value.cartItem.title }}
                                    </div>
                                    <div fxFlex=5>
                                        <span (click)="showContent(ticket)">
                                            <mat-icon role="img" *ngIf="!ticket.value.visible">
                                                keyboard_arrow_up</mat-icon>
                                        </span>
                                        <span (click)="hideContent(ticket)">
                                            <mat-icon role="img" *ngIf="ticket.value.visible">
                                                keyboard_arrow_down</mat-icon>
                                        </span>
                                    </div>
                                </div>
                            </mat-card-title>

                            <mat-card-content *ngIf="!ticket.value.visible">
                                <div [formGroupName]="i">
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>First Name</mat-label>
                                            <input [required]="i==0" type="text" matInput formControlName="firstName"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>

                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Last Name</mat-label>
                                            <input [required]="i==0" type="text" matInput formControlName="lastName"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input [required]="i==0" type="email" matInput formControlName="email"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Phone</mat-label>
                                            <input [maxLength]="10" type="text" matInput formControlName="phone"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Company</mat-label>
                                            <input type="text" matInput formControlName="company"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </form>
                </div>
            </mat-step>

            <mat-step label="Sessions">
                <div>
                    <form *ngIf="ticketForm" [formGroup]="ticketForm">
                        <mat-card class="ticket-essions" formArrayName="tickets"
                            *ngFor="let ticket of ticketForm.get('tickets')['controls']; let i = index;s">

                            <mat-card-title>
                                Attendee {{ i + 1 }} - {{ ticket.value.cartItem.title }}
                            </mat-card-title>

                            <mat-card-content *ngIf="!ticket.value.visible">
                                <div [formGroupName]="i">
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>First Name</mat-label>
                                            <input disabled matInput [value]="ticket.value.firstName">
                                        </mat-form-field>

                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Last Name</mat-label>
                                            <input disabled matInput [value]="ticket.value.lastName">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input disabled matInput [value]="ticket.value.email">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Phone</mat-label>
                                            <input disabled matInput [value]="ticket.value.phone">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Company</mat-label>
                                            <input disabled matInput [value]="ticket.value.company">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </form>
                </div>
            </mat-step>

            <mat-step label="Payment">
                <form *ngIf="paymentForm" [formGroup]="paymentForm">
                    <mat-card>
                        <div fxLayout="row">
                            <mat-form-field class="input-field" appearance="outline">
                                <mat-label>Name on card</mat-label>
                                <input required formControlName="name" type="text" matInput>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row">
                            <mat-form-field class="input-field" appearance="outline">
                                <mat-label>Card Number</mat-label>
                                <input [maxLength]="16" required formControlName="cardNumber" type="text" matInput>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field class="input-field" appearance="outline">
                                <mat-label>Exp Date (MM/YY)</mat-label>
                                <input [maxLength]="5" required formControlName="expDate" type="text" matInput>
                            </mat-form-field>

                            <mat-form-field class="input-field" appearance="outline">
                                <mat-label>CVV</mat-label>
                                <input [maxLength]="3" required formControlName="cvv" type="text" matInput>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <div fxFlex="25" class="checkout">
        <app-checkout-cart [cartContentList]="cartContentList"></app-checkout-cart>
        <button #checkoutButton
            [disabled]="this.cartContentList?.length==0 || (this.ticketForm?.get('tickets')['controls'][0]?.status=='INVALID' && this.formBypass==false) || (this.paymentForm?.status=='INVALID' && this.getStepLabel()=='Submit Purchase')"
            class="checkout-btn" mat-raised-button (click)="goForwardStep(stepper)"> {{ nextStep }} </button>
        <button *ngIf="stepper.selectedIndex!=0" #goBackButton class="checkout-btn" mat-raised-button
            (click)="goBackStep(stepper)"> Go Back
        </button>
    </div>
</div>