<mat-toolbar>
    <div (click)="goBack()" fxLayout="row">
        <mat-icon>arrow_back</mat-icon>
        <mat-card-title>
            Back
        </mat-card-title>
    </div>
</mat-toolbar>

<div fxLayout="row">
    <div fxFlex="75" class="event-details">
        <mat-horizontal-stepper #stepper>

            <mat-step label="Tickets">
                <div>
                    <mat-card>
                        <div fxLayout="row">
                            <mat-icon>av_timer</mat-icon>
                            <mat-card-title>
                                Tickets
                            </mat-card-title>
                        </div>

                        <div class="container">
                            <div class="one">
                                In a hurry? Fill out this form later via link in your email.
                            </div>
                            <div class="two">
                                Skip this step
                            </div>
                        </div>
                    </mat-card>
                    <form *ngIf="ticketForm" [formGroup]="ticketForm">
                        <mat-card class="ticket-essions" formArrayName="tickets"
                            *ngFor="let ticket of ticketForm.get('tickets')['controls']; let i = index;s">
                            <span (click)="showContent(ticket)">
                                <mat-icon role="img" *ngIf="!ticket.value.visible">
                                    keyboard_arrow_up</mat-icon>
                            </span>
                            <span (click)="hideContent(ticket)">
                                <mat-icon role="img" *ngIf="ticket.value.visible">
                                    keyboard_arrow_down</mat-icon>
                            </span>

                            <mat-card-title>
                                Attendee {{ i + 1 }} - {{ ticket.value.cartItem.title }}
                            </mat-card-title>

                            <mat-card-content *ngIf="!ticket.value.visible">
                                <div [formGroupName]="i">

                                    <div fxLayout="row" fxLayoutGap="10px">

                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>First Name</mat-label>
                                            <input [required]="i==0" type="text" matInput formControlName="firstName"
                                                [errorStateMatcher]="matcher">
                                            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                                        Please enter a valid email address
                                                    </mat-error>
                                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                                        Email is <strong>required</strong>
                                                    </mat-error> -->
                                        </mat-form-field>



                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Last Name</mat-label>
                                            <input [required]="i==0" type="text" matInput formControlName="lastName"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input [required]="i==0" type="email" matInput formControlName="email"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Phone</mat-label>
                                            <input type="text" matInput formControlName="phone"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Company</mat-label>
                                            <input type="text" matInput formControlName="company"
                                                [errorStateMatcher]="matcher">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <span *ngIf="i==0">
                                    <mat-radio-group>
                                        <mat-radio-button value="1">Option 1</mat-radio-button>
                                        <mat-radio-button value="2">Option 2</mat-radio-button>
                                    </mat-radio-group>
                                </span>
                            </mat-card-content>
                        </mat-card>
                    </form>

                </div>
            </mat-step>

            <mat-step label="Sessions">
                <div>
                    <form *ngIf="ticketForm" [formGroup]="ticketForm">
                        <mat-card class="ticket-essions" formArrayName="tickets"
                            *ngFor="let ticket of ticketForm.get('tickets')['controls']; let i = index;s">
                            <mat-card-title>
                                Attendee {{ i + 1 }} - {{ ticket.value.cartItem.title }}
                            </mat-card-title>

                            <mat-card-content *ngIf="!ticket.value.visible">
                                <div [formGroupName]="i">

                                    <div fxLayout="row" fxLayoutGap="10px">

                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>First Name</mat-label>
                                            <input disabled matInput [value]="ticket.value.firstName">
                                        </mat-form-field>



                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Last Name</mat-label>
                                            <input disabled matInput [value]="ticket.value.lastName">
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input disabled matInput [value]="ticket.value.email">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Phone</mat-label>
                                            <input disabled matInput [value]="ticket.value.phone">
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row">
                                        <mat-form-field class="input-field" appearance="outline">
                                            <mat-label>Company</mat-label>
                                            <input disabled matInput [value]="ticket.value.company">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </form>
                </div>
            </mat-step>

            <mat-step label="Payment">
                <mat-card>
                    <div fxLayout="row">
                        <mat-form-field class="input-field" appearance="outline">
                            <mat-label>Name on card</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field class="input-field" appearance="outline">
                            <mat-label>Card Number</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field class="input-field" appearance="outline">
                            <mat-label>Exp Date</mat-label>
                            <input type="text" matInput>

                        </mat-form-field>



                        <mat-form-field class="input-field" appearance="outline">
                            <mat-label>CVV</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>

                    </div>
                </mat-card>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <div fxFlex="25" class="checkout">
        <app-checkout-cart [cartContentList]="cartContentList"></app-checkout-cart>
        <button [disabled]="this.ticketForm?.get('tickets')['controls'][0].status=='INVALID'" class="checkout-btn"
            mat-raised-button (click)="goForwardStep(stepper)"> {{ nextStep }} </button>
    </div>
</div>